<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.unil.eda.activmatch">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/new_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/new_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SignInActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ActivMatchActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".ActivMatchSettingsActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"/>

        <activity
            android:name=".CreateGroupActivity"
            android:label="@string/activity_create_group_title"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".GroupChatActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"/>

        <activity
            android:name=".GroupDetailsActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".SearchActivity"
            android:label="@string/activity_group_search_title"
            android:theme="@style/AppTheme"/>

        <activity
            android:name=".GroupResultActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"/>

        <activity
            android:name=".JoinGroupActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"/>

        <service android:name=".notifications.ActivMatchNotificationService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notifications" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent"/>
    </application>

</manifest>